In [1]:
#Imports and Dependencies

#SQL tools
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

#pandas
import pandas as pd

#to connect to & work with spotify api
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
from config import client_id, client_secret
import pprint

#for connecting to postgres/pgadmin
import psycopg2
from config import conn_string ##this one might not work

Pitchfork SQLite tables

In [2]:
#connect to pitchfork database
engine = create_engine("sqlite:///database.sqlite", echo=False)

#get table names from inspect
inspector = inspect(engine)
inspector.get_table_names()

['artists', 'content', 'genres', 'labels', 'reviews', 'years']

In [4]:
#convert sqlite tables to dataframes
artists_df = pd.read_sql('SELECT * FROM artists', engine)
content_df = pd.read_sql('SELECT * FROM content', engine)
genres_df = pd.read_sql('SELECT * FROM genres', engine)
labels_df = pd.read_sql('SELECT * FROM labels', engine)
reviews_df = pd.read_sql('SELECT * FROM reviews', engine)
years_df = pd.read_sql('SELECT * FROM years', engine)

In [7]:
#confirm read_sql worked
artists_df.head()

   reviewid          artist
0     22703  massive attack
1     22721        krallice
2     22659    uranium club
3     22661         kleenex
4     22661         liliput

In [9]:
#any edits to pitchfork dfs

In [16]:
#select out artist column

Spotify API Call

In [ ]:
client_credentials_manager = SpotifyClientCredentials(client_id, client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

In [ ]:
#call api for each artist
for artist in artist_list:
    results = sp.search(artist, type='artist')
    #save data in dataframe
    # results['artists']['items'][0]--name, uri, popularity, genres, followers['total']

Loading into pgAdmin

In [ ]:
engine = create_engine(conn_string) #conn_string = 'postgresql+psycopg2://postgres:postgres@localhost:5432/music'

In [ ]:
reviews_df.to_sql(name='reviews', con=engine, if_exists='append', index=False)