In [8]:
# Imports

import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import datetime as dt
import sqlite3

In [9]:
engine = create_engine("sqlite:///database.sqlite", echo=False)
engine

Engine(sqlite:///database.sqlite)

In [10]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [11]:
inspector = inspect(engine)
inspector

In [12]:
columns = inspector.get_columns('artists')
for a in columns:
    print(a['name'], a["type"])

columns

[]

In [13]:
con = sqlite3.connect("/Users/joescuteri/Desktop/Personal Bootcamp/PersonalHW/13-Project-2/project_2/database.sqlite")

In [14]:
df = pd.read_sql('SELECT * FROM content', con)

DatabaseError: Execution failed on sql 'SELECT * FROM content': no such table: content